{% match flash %}
{% when Some with (flashes) %}
{% for (l,m) in flashes.iter() %}
{% if l == axum_flash::Level::Error %}
<div class="bg-danger text-white border border-danger-subtle p-1 px-2 container">
  {{ m }} <br />
</div>
{% endif %}
{% endfor %}
{% when None %}
{% endmatch %}

{% match flash %}
{% when Some with (flashes) %}
{% for (l,m) in flashes.iter() %}
{% if l == axum_flash::Level::Success %}
<div class="bg-success text-white border border-danger-subtle p-1 px-2 container">
  {{ m }} <br />
</div>
{% endif %}
{% endfor %}
{% when None %}
{% endmatch %}